In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
#erdgas Hausholds

# Anzulegende Werte in Cent/kWh - Marktprämienmodell:
df = pd.read_excel(r'DegressionsVergSaetze_05-07_21.xlsx',sheet_name='Solar', skiprows = 6, nrows = 18, usecols = "J:M")
df.columns = ["Inbetriebnahme", "bis_10_kW", "bis_40_kW", "bis_750_kW"]
mask1 = df["bis_40_kW"].isnull()
#mask2 = df["bis_750_kW"].isnull()
#df.loc[mask1, "bis_10_kW"] = df.loc[mask1, "bis_40_kW"]
#df.loc[mask2, "bis_10_kW"] = df.loc[mask2, "bis_750_kW"]
df['bis_40_kW'] = np.where(df['bis_40_kW'].isnull(), df['bis_10_kW'], df['bis_40_kW'])
df['bis_750_kW'] = np.where(df['bis_750_kW'].isnull(), df['bis_10_kW'], df['bis_750_kW'])
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 2", "")
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 3", "")
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 4", "")
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 5", "")
df

   Inbetriebnahme  bis_10_kW  bis_40_kW  bis_750_kW
0   ab 01.01.2021   8.560000   8.330000    6.620000
1      Degression   0.014000   0.014000    0.014000
2   ab 01.02.2021   8.440160   8.213380    6.527320
3         Rundung   8.440000   8.210000    6.530000
4      Degression   0.014000   0.014000    0.014000
5   ab 01.03.2021   8.321998   8.098393    6.435938
6         Rundung   8.320000   8.100000    6.440000
7      Degression   0.014000   0.014000    0.014000
8   ab 01.04.2021   8.205490   7.985015    6.345834
9         Rundung   8.210000   7.990000    6.350000
10     Degression   0.014000   0.014000    0.014000
11  ab 01.05.2021   8.090613   7.873225    6.256993
12        Rundung   8.090000   7.870000    6.260000
13     Degression   0.014000   0.014000    0.014000
14  ab 01.06.2021   7.977344   7.763000    6.169395
15        Rundung   7.980000   7.760000    6.170000
16     Degression   0.014000   0.014000    0.014000
17  ab 01.07.2021   7.865662   7.654318    6.083023

In [5]:
# Vergütungssätze in Cent/kWh - Feste Einspeisevergütung:
 
df = pd.read_excel(r'DegressionsVergSaetze_05-07_21.xlsx',sheet_name='Solar', skiprows = 32, nrows = 7, usecols = "J:M")
df.columns = ["Inbetriebnahme", "bis_10_kW", "bis_40_kW", "bis_750_kW"]
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 2", "")
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 3", "")
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 4", "")
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 5", "")
df

  Inbetriebnahme  bis_10_kW  bis_40_kW  bis_750_kW
0  ab 01.01.2021       8.16       7.93        6.22
1  ab 01.02.2021       8.04       7.81        6.13
2  ab 01.03.2021       7.92       7.70        6.04
3  ab 01.04.2021       7.81       7.59        5.95
4  ab 01.05.2021       7.69       7.47        5.86
5  ab 01.06.2021       7.58       7.36        5.77
6  ab 01.07.2021       7.47       7.25        5.68

In [6]:
# Anzulegende Werte für den Mieterstromzuschlag in Cent/kWh

df = pd.read_excel(r'DegressionsVergSaetze_05-07_21.xlsx',sheet_name='Solar', skiprows = 46, nrows = 19, usecols = "J:M")
df.columns = ["Inbetriebnahme", "bis_10_kW", "bis_40_kW", "bis_750_kW"]
mask1 = df["bis_40_kW"].isnull()
#mask2 = df["bis_750_kW"].isnull()
#df.loc[mask1, "bis_10_kW"] = df.loc[mask1, "bis_40_kW"]
#df.loc[mask2, "bis_10_kW"] = df.loc[mask2, "bis_750_kW"]
df['bis_40_kW'] = np.where(df['bis_40_kW'].isnull(), df['bis_10_kW'], df['bis_40_kW'])
df['bis_750_kW'] = np.where(df['bis_750_kW'].isnull(), df['bis_10_kW'], df['bis_750_kW'])
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 2", "")
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 3", "")
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 4", "")
df["Inbetriebnahme"] = df["Inbetriebnahme"].str.replace(" 5", "")
df

   Inbetriebnahme  bis_10_kW  bis_40_kW  bis_750_kW
0   ab 01.01.2021   3.790000   3.520000    2.370000
1      Degression   0.014000   0.014000    0.014000
2   ab 01.02.2021   3.736940   3.470720    2.336820
3         Rundung   3.740000   3.470000    2.340000
4      Degression   0.014000   0.014000    0.014000
5   ab 01.03.2021   3.684623   3.422130    2.304105
6         Rundung   3.680000   3.420000    2.300000
7      Degression   0.014000   0.014000    0.014000
8   ab 01.04.2021   3.633038   3.374220    2.271847
9         Rundung   3.630000   3.370000    2.270000
10     Degression   0.014000   0.014000    0.014000
11  ab 01.05.2021   3.582176   3.326981    2.240041
12        Rundung   3.580000   3.330000    2.240000
13     Degression   0.014000   0.014000    0.014000
14  ab 01.06.2021   3.532025   3.280403    2.208681
15        Rundung   3.530000   3.280000    2.210000
16     Degression   0.014000   0.014000    0.014000
17  ab 01.07.2021   3.482577   3.234478    2.177759
18        Rundung   3.480000   3.230000    2.180000